{% load static %}



<div class="navbar navbar-expand-sm bg-primary navbar-dark">
  <div class="contanier">
    <ul class="navbar-nav">
      <li class="nav-item">
      <a href="{% url 'index' %}" class="navbar-brand">YardımET  </a>
      </li>
      

          {% if user.is_authenticated  %}
          <li class="nav-item">
            <a href="{% url 'yardimtalepet' %}" class="nav-link">Yardım talep et  |</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'yardimtalepler' %}" class="nav-link">Yardım et  |</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'hakkimizda' %}" class="nav-link">Hakkımızda  |</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'iletisim' %}" class="nav-link">İletişim  |</a>
          </li>
          <li class="nav-item">
            <a href="javascript:{document.getElementById('hesap').submit()}" class="nav-link">Hesabım  |</a>
            <form action="{% url 'hesap' %}" method="POST" id="hesap">
              {% csrf_token %}
              <input type="hidden" name="userid" value="{{ user.id }}"  >
            </form>
          </li>

          <li class="nav-item">
            <a href="javascript:{document.getElementById('cikiss').submit()}" class="nav-link"><h5 style="color:#004da8;">Çıkış({{ user.first_name }} {{ user.last_name }})</h5>
            <form action="{% url 'cikis' %}" method="POST" id="cikiss">
              {% csrf_token %}
              <input type="hidden">
            </form>
          </a>
         </li>  


          {% else %}
          <li class="nav-item">
            <a href="{% url 'hakkimizda' %}" class="nav-link">Hakkımızda  |</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'iletisim' %}" class="nav-link">İletisim  |</a>
          </li>
          <li>
            <a href="{% url 'giris' %}" class="nav-link"><h5 style="color:#004da8">Giris  |</h5></a>
          </li>
          <li class="nav-item">
            <a href="{% url 'kayit' %}" class="nav-link"><h5 style="color:#004da8">Kayit  |</h5></a>
          </li>


          {% endif %}
          
                 
 
  </div>
</div>
{% include 'parcalar/_alert.html' %}
<img  style="margin-bottom: 2em; margin-top:2em;" src="{% static 'img/logo.png'%}" alt="" class="">
<nav class="navbar  bg-light">
        <a> 
          <img src="{% static 'img/logo.png'%}" width="45" height="30" style="float:inherit;"  >
           YardımET - İki kişi arasında sadece bir köprü...     </a>   
      </nav>



       


  




