<footer>
    <div class="footer py-3 mt-3" >
        <div class="contanier" >
            <span class="text-muted"style="margin-left:5em;" >
                <ul style="margin-left:40%;" class="" ><a href="{% url 'index' %}"  >Yardım Et  ! Yardım@</a></ul>
                <ul style="margin-left:40%;" class=""><a href="{% url 'iletisim' %}"  >İletişim</a></ul>
                <ul style="margin-left:40%;" class=""><a href="{% url 'hakkimizda' %}"  >Hakkımızda</a></ul>
                <ul style="margin-left:40%;" class="">Copyright Yusuf BAŞ ©</ul>

            </span>
        </div>
        
    </div>
</footer> 